{% extends 'testingapp/newnavbar_navrail.html' %}

{% load hitcount_tags %}

{% load static %}

{% load humanize %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


{% block title %}
<title>{{post.title}}</title>
{% endblock %}

{% block weather_widget %}
{% endblock %}


{% block sm_weather %}
{% endblock %}

{% block content%}


<body>

  {% if user.is_authenticated %}

  <div class="primary-wrapper">
    
    <div class="secondary-wrapper">

      <div class="container container-flex">

        <main role="main" class="home-main recipe-detail-main">

            <div class="dynamic-recipes recipe-detail-wrapper">                    

              <div class="dynamic-card-container carousel-container recdet-card-container">
                
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                  
                  {% if post.photo_set.all.count == 1 %}
                  {% else %}
                    <div class="carousel-indicators">
                      {% for image in post.photo_set.all %}
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></button>
                      {% endfor %}
                    </div>
                  {% endif %}

                  <div class="carousel-inner">
                    {% for post in post.photo_set.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                      <img src="{{ post.image.url }}" class="d-block carousel-image" alt="{{ post.title }}">
                    </div>
                    {% empty %}
                    <div>
                      <img src="{% static 'testingapp/media/empty4.jpg' %}" class="d-block carousel-image" alt="{{ post.title }}">
                    </div>
                    {% endfor %}
                  </div>

                  {% if post.photo_set.all.count == 1 %}
                  {% else %}
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  {% endif %}
                </div>

              </div>


              <div class="recipe-body">
                <h1>{{post.title}}</h1>
                
                <div class="d-flex recipe-details-1">
                  <div class="p-2 auth-img">
                    {% for i in user_profiles %}
                      {% if i.user.email == post.author.email %}
                      <div>
                        <a href="{% url 'userchannelpage' pk=post.author.id %}">
                          <img src="{{ post.author.profile.profile_img.url }}" alt="Image">
                        </a>
                      </div>
                      {% endif %}
                    {% endfor %}
  
                    <div class="child">
  
                      <div class="card hover-profile-card">
                        <div class="row g-0">
                          <div class="col-lg-4 card-img-container">
                            <img src="{{ post.author.profile.profile_img.url }}" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
                              <p class="card-text">{{post.author.profile.bio}}</p>
                            </div>
                            <div class="cards-footer">
                              Recipes : 
                              {% for user in tot_posts_by_user %}
                                {% if post.author.email == user.email %}
                                  {{ user.num_posts }}
                                {% endif %}  
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
  
                    </div>
                  </div>
  
                  <div class="p-2 flex-grow-1 auth-name">
                    {% for i in user_profiles %}
                      {% if i.user.email == post.author.email %}
                        <div class="text-truncate">
                          <a href="{% url 'userchannelpage' pk=post.author.id %}">
                            <b>{{i.user.first_name}} {{i.user.last_name}}</b>
                          </a>
                        </div>
                      {% endif %}
                    {% endfor %}
                    
                    <div class="child">
  
                      <div class="card hover-profile-card">
                        <div class="row g-0">
                          <div class="col-lg-4 card-img-container">
                            <img src="{{ post.author.profile.profile_img.url }}" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
                              <p class="card-text">{{post.author.profile.bio}} </p>
                            </div>
                            <div class="cards-footer">
                              Recipes : 
                              {% for user in tot_posts_by_user %}
                                {% if post.author.email == user.email %}
                                  {{ user.num_posts }}
                                {% endif %}  
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
  
                    </div>
                  </div>
  
                  <div class="p-2 like-dislike-div">
                    <div class="like-div">
                      <form action="{% url 'like-view' %}" method="POST">
                        {% csrf_token %}
                        
                        {% if request.user.profile in post.likes.all %}
  
                          <button type="submit" class="" name="post_id" value="{{post.id}}" data-toggle="tooltip" data-placement="top" title="Unlike">
                            <span class="material-symbols-rounded like-dislike-icon liked">thumb_up</span>  
                          </button>
  
                          <div class="total-likes">{{post.total_likes}}</div>
                        {% else %}
  
                          {% if post.total_likes == 0 %}
  
                            <button type="submit" class="btn btn-light" name="post_id" value="{{post.id}}" data-toggle="tooltip" data-placement="top" title="I like this">
                              <span class="material-symbols-rounded like-dislike-icon">thumb_up</span>  
                            </button>
                              <div class="total-likes">{{post.total_likes}}</div>
  
                          {% else %}
  
                            <button type="submit" class="btn btn-light" name="post_id" value="{{post.id}}" data-toggle="tooltip" data-placement="top" title="I like this">
                              <span class="material-symbols-rounded like-dislike-icon">thumb_up</span>  
                            </button>
                              <div class="total-likes">{{post.total_likes}}</div>
  
                          {% endif %}
  
                        {% endif %}
                        
                      </form>
  
                    </div>
                  </div>
  
                  <div class="p-2 like-dislike-div">
                    <div class="dislike-div">
                      <form action="{% url 'dislike-view' %}" method="POST">
                        {% csrf_token %}
  
                        {% if request.user.profile in post.dislikes.all %}
  
                          <button type="submit" class="btn btn-light" name="post_id" value="{{post.id}}" data-toggle="tooltip" data-placement="top" title="Disliked">
                            <span class="material-symbols-rounded like-dislike-icon disliked">thumb_down</span>  
                          </button>
                          <div class="total-dislikes">{{post.total_dislikes}}</div>
  
                        {% else %}
  
                        {% if post.total_dislikes == 0 %}
  
                          <button type="submit" class="btn btn-light" name="post_id" value="{{post.id}}" data-toggle="tooltip" data-placement="top" title="I dislike this">
                            <span class="material-symbols-rounded like-dislike-icon">thumb_down</span>
                          </button>
                          <div class="total-dislikes">{{post.total_dislikes}}</div>
  
                        {% else %}
  
                          <button type="submit" class="btn btn-light" name="post_id" value="{{post.id}}" data-toggle="tooltip" data-placement="top" title="I dislike this">
                            <span class="material-symbols-rounded like-dislike-icon">thumb_down</span>
                          </button>
                          <div class="total-dislikes">{{post.total_dislikes}}</div>
  
                        {% endif %}
  
                        {% endif %}
  
                      </form>
                    </div>
                  </div>
  
                  <div class="p-2 more-dropmenu">
                    <div class="dropdown-center body-detail-dropdown">
                      <button class="more-dropdown-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <span class="material-symbols-rounded more-horiz-icon">more_horiz</span>
                      </button>
  
                      <div class="dropdown-menu body-detail-dropdown-content">
                        <div class="body-detail-dropdown-list">
                            <div class="dropdown-first-child">
                              <button class="clipboard dropdown-links" id="copylink" onclick="Copy();">
                                <span class="material-symbols-rounded share-recipe-icon">content_copy</span>
                                Copy link
                              </button>
                            </div>
  
                            <div class="dropdown-second-child">
                              <a class="dropdown-links" href="{% url 'customerrender' feed=post.title pk=post.pk %}">
                                <span class="material-symbols-rounded share-recipe-icon">file_download</span>
                                Download
                              </a>
                            </div>
                        </div>
                      </div>
  
                      <!-- toast message -->
                      <div class="toast-container position-fixed bottom-0 end-0 p-3">
                        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                          <div class="toast-header">
                            <strong class="me-auto">Yummy Recipes</strong>
                            <!-- <small>11 mins ago</small> -->
                            <button class="material-symbols-rounded share-recipe-icon" data-bs-dismiss="toast" aria-label="Close">close</button>
                          </div>
                          <div class="toast-body" id="urlCopied">
  
                          </div>
                        </div>
                      </div>
  
                  </div>
                  </div>
  
                </div>                

                <!-- trending text -->
                <div class="recipe-trending-text">
                  {% if post.title in top_10_trend_recipes|join:"" %}
                        
                    <span class="trending-number">#{{check|join:""}} on Trending</span>  

                  {% else %}

                  {% endif %}
                </div>

                <div class="recipe-detail-container">
                  <div class="left">

                    <div class="recipe-detail-table">
                      <table class="table">
                          
                          <tbody>
                          <tr>
                              <th scope="row" colspan="2">Type</th>
                              <td>:</td>
                              <td>{{post.type}}</td>
                          </tr>
                          <tr>
                              <th scope="row" colspan="2">Category</th>
                              <td>:</td>
                              <td>{{post.category}}</td>
                          </tr>
                          <tr>
                              <th scope="row" colspan="2">Cuisine</th>
                              <td>:</td>
                              <td>{{post.cuisine}}</td>
                          </tr>
                          <tr>
                              <th scope="row" colspan="2">Prep time</th>
                              <td>:</td>
                              <td>{{post.timing}} min</td>
                          </tr>
                          <tr>
                              <th scope="row" colspan="2">Servings</th>
                              <td>:</td>
                              <td>{{post.servings}}</td>
                          </tr>
                          <!-- <tr>
                              <th scope="row" colspan="2">Likes</th>
                              <td>:</td>
                              <td>{{post.total_likes}}</td>
                          </tr>
                          <tr>
                              <th scope="row" colspan="2">Dislikes</th>
                              <td>:</td>
                              <td>{{post.total_dislikes}}</td>
                          </tr> -->
                          </tbody>
                      </table>
                    </div>

                  </div>

                  <div class="right">
                    
                    <div class="recipe-detail-table">
                      <table class="table">
                          
                          <tbody>
                          <tr>
                              <th scope="row" colspan="2">Views</th>
                              <td>:</td>
                              <td>{% get_hit_count for post %}</td>
                          </tr>
                          <tr>
                              <th scope="row" colspan="2">Posted</th>
                              <td>:</td>
                              <td>{{post.get_date}}</td>
                          </tr>
                          <tr>
                              <th scope="row" colspan="2">Updated</th>
                              <td>:</td>
                              <td>
                                {% if post.get_date == post.get_modified_date %}
                                  No change
                                {% else %}
                                {{post.get_modified_date}}
                                {% endif %}
                              </td>
                          </tr>
                          <tr>
                              <th scope="row" colspan="2">Popularity</th>
                              <td>:</td>
                              <td>
                                {% if post.type == 'Breakfast' %}

                                  {% if fetched_recipe|join:"" in post.title %}

                                    {% for post in breakfast.all %}

                                      {% if fetched_recipe|join:"" in post.title %}

                                        {{forloop.counter| ordinal }} in breakfast recipes

                                      {% endif %}

                                    {% endfor %}

                                  {% else %}
                                    0
                                  {% endif %}

                                {% elif post.type == 'Lunch' %} 
                                
                                {% if fetched_recipe|join:"" in post.title %}

                                  {% for post in lunch.all %}

                                    {% if fetched_recipe|join:"" in post.title %}

                                      {{forloop.counter| ordinal }} in lunch recipes

                                    {% endif %}

                                  {% endfor %}
                                
                                {% else %}
                                  0
                                {% endif %}

                                {% elif post.type == 'Evening Snack' %} <!-- 12pm - 4:59pm (17:59) -->

                                  {% if fetched_recipe|join:"" in post.title %}

                                    {% for post in evesnack.all %}
                                    
                                      {% if fetched_recipe|join:"" in post.title %}

                                        {{forloop.counter| ordinal }} in evening snack recipes
                                      
                                      {% endif %}
                                
                                    {% endfor %}

                                  {% else %}
                                    0
                                  {% endif %}

                                {% else %}

                                {% if fetched_recipe|join:"" in post.title %}
                                  
                                  {% for post in dinner.all %}
                                  
                                    {% if fetched_recipe|join:"" in post.title %}

                                      {{forloop.counter| ordinal }} in dinner recipes

                                    {% endif %}

                                  {% endfor %}

                                {% else %}
                                  0
                                {% endif %}


                                {% endif %}
                              </td>
                          </tr>
                          <tr>
                              <th scope="row" colspan="2">Difficulty</th>
                              <td>:</td>
                              <td>{{post.difficulty}}</td>
                          </tr>
                          <!-- <tr>
                              <th scope="row" colspan="2">Likes</th>
                              <td>:</td>
                              <td>{{post.total_likes}}</td>
                          </tr>
                          <tr>
                              <th scope="row" colspan="2">Dislikes</th>
                              <td>:</td>
                              <td>{{post.total_dislikes}}</td>
                          </tr> -->
                          </tbody>
                      </table>
                    </div>

                  </div>

                </div>

                <div class="recipe-body-content ingred-body">
                  <span>Ingredients</span>
                  
                  <p>
                    <pre>
                      {{post.ingredients}}
                    </pre>
                  </p>
                </div>

                <div class="recipe-body-content">
                  <span>Instructions</span>

                  <p>
                    {{post.content|safe}}
                  </p>
                  
                  <!-- <p>
                    <pre>{{post.content|safe}}</pre>
                  </p> -->
                </div>

              </div>
              


              <!-- Comments -->
              <div class="accordion accordion-flush comments-accordian" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                      Comments &nbsp; <span class="tot_recipe_badge badge">{{comments_count}}</span>
                    </button>
                  </h2>
                  
                  <div class="offcanvas offcanvas-bottom comments-offcanvas" style tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
                    <div class="offcanvas-header">
                      <h5 class="offcanvas-title" id="offcanvasBottomLabel">Comments</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">

                      <div class="hstack gap-3 comment-input" id="cmt">
                        <textarea class="form-control me-auto" id="inputComment" type="text" placeholder="Comments" aria-label="Add your comment"></textarea>
                        <button type="button" class="btn btn-transparent" value="comment" id="commentbutton"><span class="material-symbols-rounded">send</span></button>
                        
                      </div>
        
                      <div id="comments">
                        {% for comment in comments %}
                          <div class="d-flex position-relative comments-section">
                            <img src="{{ post.author.profile.profile_img.url }}" class="flex-shrink-0 me-3" alt="..." style="width: 50px;height: 50px;border-radius: 100%;">
                            <div class="commented-author">
                              <h6>{{ comment.comment_user.first_name }} {{ comment.comment_user.last_name }} &#11825; <span>{{ comment.get_date }}</span> </h6>
                              <p>{{ comment.comment }}</p>
                            </div>
                          </div>
                         
                        {% endfor %}
                      </div>
        
                    </div>
                  </div>
                </div>
              </div>

            </div>           
            
        </main>
        
        
          <aside class="sidebar similar-recipes-sidebar">
            
            <div class="sidebar-recipes">
                <div class="sidebar-header">
                  {% if post.type == 'Breakfast' %}

                  <h1>More breakfast recipes</h1>

                  {% elif post.type == 'Lunch' %}

                  <h1>More lunch recipes</h1>

                  {% elif post.type == 'Evening Snack' %}

                  <h1>More snacks recipes</h1>

                  {% elif post.type == 'dinner' %}

                  <h1>More dinner recipes</h1>

                  {% endif %}
                </div>

                <div class="dynamic-card-container side-recipes-card-container">
                    
                  {% if post.type == 'Breakfast' %}
                    {% for brkfst in breakfast.all %}

                      {% if post.title != brkfst.title %}

                        <div class="sidebar-cards">    
                            <a href="{% url 'viewpost' brkfst.pk %}">
                              <div class="sidebar-img-container">
                                {% for i in brkfst.photo_set.all %}
                                {% if forloop.counter0 == 0 %}
                                    <img src="{{ i.image.url }}" class="widget-image" alt="..." >
                                {% endif %}
                                  {% empty %}
                                    <img src="{% static 'testingapp/media/empty4.jpg' %}" class="widget-image">
                                {% endfor %}
                              </div>

                              <div class="card-body sidebar-recipe-info">
                                  <h4 class="card-title highlight">{{brkfst.title}}</h4>
                              </div>
                            </a>
                            <div class="sidebar-cards-qv" title="Quick view">
                                <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{brkfst.pk}}" aria-controls="quickviewModal">
                                    <span class="material-symbols-rounded sidebar-recipe-read-more-icon">dock_to_left</span>
                                </button>
                            </div>
                        </div>
                      
                      {% else %}

                      {% endif %}

                    {% endfor %}

                    {% elif post.type == 'Lunch' %} 
                      {% for lnch in lunch.all %} 

                      {% if post.title != lnch.title %}

                        <div class="sidebar-cards">    
                          <a href="{% url 'viewpost' lnch.pk %}">
                            <div class="sidebar-img-container">
                              {% for i in lnch.photo_set.all %}
                              {% if forloop.counter0 == 0 %}
                                  <img src="{{ i.image.url }}" class="widget-image" alt="..." >
                              {% endif %}
                                {% empty %}
                                  <img src="{% static 'testingapp/media/empty4.jpg' %}" class="widget-image">
                              {% endfor %}
                            </div>

                            <div class="card-body sidebar-recipe-info">
                                <h4 class="card-title highlight">{{lnch.title}}</h4>
                            </div>
                          </a>
                          <div class="sidebar-cards-qv" title="Quick view">
                              <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{lnch.pk}}" aria-controls="quickviewModal">
                                  <span class="material-symbols-rounded sidebar-recipe-read-more-icon">dock_to_left</span>
                              </button>
                          </div>
                        </div>

                        {% else %}

                        {% endif %}
                    
                      {% endfor %}

                    {% elif post.type == 'Evening Snack' %} 
                        {% for evesnack in evesnack.all %}

                        {% if post.title != evesnack.title %}
                            
                          <div class="sidebar-cards">    
                            <a href="{% url 'viewpost' evesnack.pk %}">
                              <div class="sidebar-img-container">
                                {% for i in evesnack.photo_set.all %}
                                {% if forloop.counter0 == 0 %}
                                    <img src="{{ i.image.url }}" class="widget-image" alt="..." >
                                {% endif %}
                                  {% empty %}
                                    <img src="{% static 'testingapp/media/empty4.jpg' %}" class="widget-image">
                                {% endfor %}
                              </div>

                              <div class="card-body sidebar-recipe-info">
                                  <h4 class="card-title highlight">{{evesnack.title}}</h4>
                              </div>
                            </a>
                            <div class="sidebar-cards-qv" title="Quick view">
                                <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{evesnack.pk}}" aria-controls="quickviewModal">
                                    <span class="material-symbols-rounded sidebar-recipe-read-more-icon">dock_to_left</span>
                                </button>
                            </div>
                          </div>

                        {% else %}

                        {% endif %}
                    
                      {% endfor %}
                      
                    {% else %}
                      
                      {% for dnr in dinner.all %}

                        {% if post.title != dnr.title %}

                          <div class="sidebar-cards">    
                              <a href="{% url 'viewpost' dnr.pk %}">
                                <div class="sidebar-img-container">
                                  {% for i in dnr.photo_set.all %}
                                  {% if forloop.counter0 == 0 %}
                                      <img src="{{ i.image.url }}" class="widget-image" alt="..." >
                                  {% endif %}
                                    {% empty %}
                                      <img src="{% static 'testingapp/media/empty4.jpg' %}" class="widget-image">
                                  {% endfor %}
                                </div>

                                <div class="card-body sidebar-recipe-info">
                                    <h4 class="card-title highlight">{{dnr.title}}  </h4>
                                </div>
                              </a>
                              <div class="sidebar-cards-qv" title="Quick view">
                                  <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{dnr.pk}}" aria-controls="quickviewModal">
                                      <span class="material-symbols-rounded sidebar-recipe-read-more-icon">dock_to_left</span>
                                  </button>
                              </div>
                          </div>
                    
                        {% else %}

                        {% endif %}
                        
                      {% endfor %}
                        
                    {% endif %}
                </div>

            </div>
            
          </aside>
        
          
      </div>

    </div>

    {% include 'testingapp/footer.html' %}

  </div>
    
    


  {% else %}

    <script>
      location.href = "{% url 'topostlogin' post.pk %}";
    </script>

  {% endif %}
        

</body>


<!-- recipe images modal -->
<div class="modal fade modal-xl" id="spotlightModal{{post.pk}}" tabindex="-1" aria-labelledby="spotlightModalLabel" aria-hidden="true">
  <div class="modal-dialog spotlight-modal-dialog">
    <div class="modal-content spotlight-modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="spotlightModalLabel">{{post.title}} | {{post.whenpublished}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body spotlight-modal-body">

          <div class="cards-wrapper">
              
              <div class="card">
                  {% for i in post.photo_set.all %}
                    
                        <img src="{{ i.image.url }}" class="img-fluid" alt="{{post.title}}">
                    
                  {% endfor %}

                <div class="" style="color: black;">
                  <h3>{{post.title}}</h3>
                <ul>
                  <li>{{post.get_date|date:"F j, Y"}}</li>
                  <li>{{post.date_post.time}}</li>
                </ul>
                </div>
              </div>
          </div>
        
      </div>
      <div class="modal-footer">
          <a href="{% url 'viewpost' post.pk %}" class="btn btn-primary">View recipe</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- quick view offcanvas -->

{% if all_recipes %} 
{% for post in all_recipes %}
<div class="offcanvas offcanvas-end qv-offcanvas" tabindex="-1" id="quickviewModal{{post.pk}}" aria-labelledby="quickviewModalLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="quickviewModalLabel">Yummy Recipes</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body qv-modal-body">
        <article class="article-featured">
            <div class="qv-offcanvas-img-container">
                {% for i in post.photo_set.all %}
                    {% if forloop.counter0 == 0 %}
                        <img src="{{ i.image.url }}" class="article-image qv-offcanvas-img" alt="{{post.title}}">
                    {% endif %}
                    {% empty %}
                        <img src="{% static 'testingapp/media/empty4.jpg' %}" class="modal-rec-img">
                {% endfor %}
            </div>
            
            <div class="qv-offcanvas-title-container">
                <h3 class="article-title">{{post.title}}</h3>
                <p>
                    <ul>
                        <li><img src="{{ user.profile.profile_img.url }}" style="width: 30px; height: 30px; border-radius:100px" alt="Image"></li>
                        <li><div class="text-truncate">{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.get_date}} &#11825; {% get_hit_count for post %} views</li>
                    </ul>
                </p>
            </div>

            <div class="qv-offcanvas-table-wrapper">
                <table class="table">
                    
                    <tbody class="qv-table-body">
                    <tr>
                        <th scope="row" colspan="2">Type</th>
                        <td>{{post.type}}</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Category</th>
                        <td>{{post.category}}</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Cuisine</th>
                        <td>{{post.cuisine}}</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Prep time</th>
                        <td>{{post.timing}} min</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Servings</th>
                        <td>{{post.servings}}</td>
                    </tr>
                    <tr>
                      <th scope="row" colspan="2">Difficulty</th>
                      <td>{{post.difficulty}}</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Likes</th>
                        <td>{{post.total_likes}}</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Dislikes</th>
                        <td>{{post.total_dislikes}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            
            
        </article>

        <div class="footer-area">
            <a href="{% url 'viewpost' post.pk %}" class="qv-offcanvas-footer-link">View <span class="material-symbols-rounded qv-offcanvas-link-icon">trending_flat</span></a>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

<script>
  var options = [];

    $( '#commentbutton' ).on( 'click', function( event ) {
    var com = $('#inputComment').val();
    console.log(com);
    
    
    
    $.ajax(
    {
    method: 'POST',
    url:'',
    
    data:{
    com: com,
    csrfmiddlewaretoken: '{{ csrf_token }}'
    },
    
    success:function(response)
    {
    var data_comments = $.parseJSON(response.cmt);
    data_f = data_comments[0];
    $('#inputComment').val("");
      $('#comments').append('<div class="d-flex position-relative comments-section">'+
      '<img src="{{ post.author.profile.profile_img.url }}" class="flex-shrink-0 me-3" alt="Image" style="width: 50px;height: 50px;border-radius: 100%;">'+
      '<div class="commented-author"><h6>{{ request.user.first_name }} {{ request.user.last_name }} &#11825; {{ comment.get_date }} </h6>'+
      

      '<p>'+data_f.fields.comment +'</p>'+'</div>');
      '</div>'
      },
      
      failure: function(data)
      {
      alert("error occured ")
      }
      
      });
      });
</script> 


<script>
  const toastTrigger = document.getElementById('copylink')
  const toastLiveExample = document.getElementById('liveToast')
  if (toastTrigger) {
    toastTrigger.addEventListener('click', () => {
    const toast = new bootstrap.Toast(toastLiveExample)

    toast.show()
  })
}
</script>

<!-- share link script -->
<script>
  var $temp = $("<input>");
  var $url = $(location).attr('href');
  $('.clipboard').on('click', function() {
  $('.alert').hide().show('fast')
  $("body").append($temp);
  $temp.val($url).select();
  document.execCommand("copy");
  $temp.remove();
  })

  $(document).ready(function(){
      $('#copylink').click(function(){
          $('#myAlert').show('fade');

          setTimeout(function(){
              $('#myAlert').hide('fade');
          }, 2000);  
      });

      $('#linkClose').click(function(){
          $('#myAlert').hide('fade');
      })
  });


  function Copy() 
            {
                    //var Url = document.createElement("textarea");
                    urlCopied.innerHTML = window.location.href;
                    //Copied = Url.createTextRange();
                    //Copied.execCommand("Copy");
            }
</script>

<script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }

    $(document).ready(function(){
  	$('[data-toggle="tooltip"]').tooltip();   
	});
</script>

    
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    
{% endblock %}