{% extends 'testingapp/newnavbar_navrail.html' %}

{% load hitcount_tags %}

{% load static %}


{% block css %}
{% endblock %}


{% block title %}
<title>Editing {{form.title.value}}</title>
{% endblock %}

{% block weather_widget %}
{% endblock %}

{% block sm_weather %}
{% endblock %}

{% block dashtopnav_title %}

    {% if hour < 4 %}
    <a class="navbar-brand appname-align" id="navbar-appname" href="{% url 'dash' %}"><span class="material-symbols-rounded bedtime-icon" id="dropdown-icons">hotel</span>It's bedtime</a>

    {% elif hour < 12 %}
    <a class="navbar-brand appname-align" id="navbar-appname" href="{% url 'dash' %}"><img src="{% static 'testingapp/media/sun.gif' %}" alt="gif" class="toaster2"> Good morning, {{ user.first_name}}</a>


    {% elif hour < 17 %} <!-- 12pm - 4:59pm (17:59) -->
    <a class="navbar-brand appname-align" id="navbar-appname" href="{% url 'dash' %}">It's lunch time</a>


    {% elif hour < 19 %} <!-- 5pm - 7:59pm (19:59) -->
    <a class="navbar-brand appname-align" id="navbar-appname" href="{% url 'dash' %}"><img src="{% static 'testingapp/media/sun.gif' %}" alt="gif" class="toaster2"> It's evening snack time</a>


    {% else %}
    <a class="navbar-brand appname-align" id="navbar-appname" href="{% url 'dash' %}">It's already dinner time</a>
    
    {% endif %}

{% endblock %}


{% block content%}

<body>

{% if user.is_authenticated %}

  <div class="primary-wrapper">

    <div class="secondary-wrapper">

      <div class="container container-flex container-flex-2">

        <main role="main" class="container-main">

          <div class="dynamic-recipes dynamic-header tertiary-wrapper">
                   
            <h1><button class="btn btn-light back-btn" onclick="history.back()"><span class="material-symbols-rounded back-btn-icon">arrow_back</span></button> 
              Update recipe
            </h1>

            <p class="sub-heading">Recipe - ' {{form.title.value}} '</p>
            <!-- <p>something goes here</p> -->

            <div class="recipe-form-container updrecipe-container">

              
              {% for i in recipes.photo_set.all %}
                {% if recipes.photo_set.count == 1 %}    
                  <label for="id_form-0-image" class="form-label current-img-label d-flex justify-content-center">Currently</label>
                {% else %}
              
                {% endif %}
              {% endfor %}

              <div class="recipe-img-grid">    

                {% for i in recipes.photo_set.all %}

                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="{{ i.image.url }}">
                        <img src="{{ i.image.url }}" alt="{{ i.image.url }}">
                      </a>
                      
                      <!-- <div class="desc">Add a description of the image here</div> -->
                    </div>
                  </div>
                  
                  
                {% endfor %}

                
                
              </div>
              <div class="updateimg-container img-del-btn">
                {% for i in recipes.photo_set.all %}

                  <div class="image-field">
                    <form method="post" action="{% url 'delete_image' i.pk %}" class="image-delete-form">
                      {% csrf_token %}
                      <button type="submit" class="form-control image-input"><span class="material-symbols-rounded upload-img-icon">delete</span> Delete</button>
                    </form>
                  </div>
                  
                {% endfor %}

                </div>

              <form class="row mt-1 g-0 create-recipe-form" method="POST" id="myForm" enctype="multipart/form-data">
                {% csrf_token %}
                  
                    <div class="" style="display: none;">
                       {{ formset.management_form }}
                      
                      {{formset}}
                    </div>       

                    <!-- {% for f in formset %}
  
                      {{ f.as_p }}

                    {% endfor %} -->

                    <div class="updateimg-container">

                      {% for i in recipes.photo_set.all %}

                        {% if forloop.counter0 == 0 %}

                          <div class="image-field">
                            <label for="id_form-0-image" name="form-0-image" class="border form-label img-input-btn">
                              <span class="material-symbols-rounded upload-img-icon">upload</span> <span class="preview-counter">Change image</span>
                            </label>
                            <div class="col-sm-11 input-field">
                              <input class="form-control image-input" type="file" name="form-0-image" accept="image/*" id="id_form-0-image">
                            </div>
                          </div>   

                            {% if recipes.photo_set.count == 1 %}
                            
                              <div class="image-field">
                                <label for="id_form-1-image" name="form-1-image" class="border form-label img-input-btn">
                                  <span class="material-symbols-rounded upload-img-icon">upload</span> <span class="preview-counter2">Add another image</span>
                                </label>
                                <div class="col-sm-11 input-field">
                                  <input class="form-control image-input" type="file" name="form-1-image" accept="image/*" id="id_form-1-image">
                                </div>
                              </div>

                            {% endif %}
                          
                        {% elif forloop.counter0 == 1 %}
                        
                          <div class="image-field">
                            <label for="id_form-1-image" name="form-1-image" class="border form-label img-input-btn">
                              <span class="material-symbols-rounded upload-img-icon">upload</span> <span class="preview-counter2">Change image</span>
                            </label>
                            <div class="col-sm-11 input-field">
                              <input class="form-control image-input" type="file" name="form-1-image" accept="image/*" id="id_form-1-image">
                            </div>
                          </div>

                        {% endif %}

                      {% empty %}
                      
                        <div class="image-field">
                          <label for="id_form-0-image" name="form-0-image" class="border form-label img-input-btn">
                            <span class="material-symbols-rounded upload-img-icon">upload</span> <span class="preview-counter">When no image</span>
                          </label>
                          <div class="col-sm-11 input-field">
                            <input class="form-control image-input" type="file" name="form-0-image" accept="image/*" id="id_form-0-image">
                          </div>
                        </div>

                      {% endfor %}

                    </div>


                <!-- Image preview -->
                <div class="imgarea">
                  <!-- <div class="testpreview"></div> -->
                  <div class="new-container"></div>

                  <div class="new-container2"></div>

                </div>
                

                <div class="col-12 first-div">
                  <label for="inputTitle" class="form-label">Title</label>
                  <div class="col-sm-11 input-field">
                    <input type="text" name="title" class="form-control" id="inputTitle" value="{{ form.title.value }}" placeholder="Title of the recipe" required="required" data-bs-toggle="tooltip" data-bs-placement="bottom">
                  </div>
                  <span id="nameError"></span>
                </div>

                <div class="row mx-0 g-2 select-options updateselectoptions1">

                  <div class="col-md-4">
                    <label for="inputTyoe" class="col col-form-label">Type of recipe</label>
                    <select class="form-select" id="specificSizeSelect" name="type" required>
                      <option value="{{ form.type.value }}">{{ form.type.value }}</option>
                      <option value="Breakfast"> &#9749; Breakfast</option>
                      <option value="Lunch">&#127790; Lunch</option>
                      <option value="Evening Snack">&#127861; Evening Snack</option>
                      <option value="Dinner">&#127858; Dinner</option>
                    </select>
                  </div>

                  <div class="col-md-4">
                    <label for="inputCuisine" class="col col-form-label">Cuisine</label>
                    <select class="form-select" id="specificSizeSelect" name="cuisine" required>
                      <option value="{{ form.cuisine.value }}">{{ form.cuisine.value }}</option>
                      <option value="Indian">&#127835; Indian Cuisine</option>
                      <option value="American">&#127850; American Cuisine</option>
                      <option value="Italian">&#127829; Italian Cuisine</option>
                    </select>
                  </div>
                  
                  <div class="col-md-3">
                    <label for="inputTime" class="col col-form-label">Preparation time</label>
                    <input type="number" class="form-control" name="timing" id="inputTime" value="{{ form.timing.value }}" placeholder="Time (in min)" required="required" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Preparation time">
                  </div>

                </div>
                
                <div class="row mx-0 g-2 select-options updateselectoptions2">
                  
                  <div class="col-md-4">
                    <label for="inputCategory" class="col col-form-label">Category</label>
                    <select class="form-select" id="specificSizeSelect" name="category" required>
                      <option value="{{ form.category.value }}">{{ form.category.value }}</option>
                      <option value="Veg">&#128994; Veg</option>
                      <option value="Non veg">&#128308; Non veg</option>
                    </select>
                  </div>

                  <div class="col-md-4">
                    <label for="inputDifficulty" class="col col-form-label">Difficulty</label>
                    <select class="form-select" id="specificSizeSelect" name="difficulty" required>
                      <option value="{{ form.difficulty.value }}">{{ form.difficulty.value }}</option>
                      <option value="Easy">Easy</option>
                      <option value="Medium">Medium</option>
                      <option value="Hard">Hard</option>
                    </select>
                  </div>

                  <div class="col-md-3">
                    <label for="inputServings" class="col col-form-label">Number of servings</label>
                    <input type="number" name="servings" class="form-control" id="inputServings" value="{{ form.servings.value }}" placeholder="Serves" required="required" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Serves">
                  </div>

                </div>


                <div class="col-12 updateingredients">
                  <label for="inputIngredients" class="form-label">Ingredients</label>
                  <div class="col-sm-11 input-field">
                    <textarea class="form-control" name="ingredients" id="inputIngredients" placeholder="Ingredients" rows="6" required="required">{{ form.ingredients.value }}</textarea>
                  </div>
                </div>

                <div class="col-12 updaterecipe">
                  <label for="inputRecipe" class="form-label">Main recipe</label>
                  <div class="col-sm-11 input-field">
                    <textarea class="form-control" name="content" id="id_content" placeholder="Instructions for the recipe" rows="10" cols="" required="required">{{ form.content.value }} </textarea>
                    
                    {{form.media}}
                  </div>
                  
                  <div class="recipe-instruction-text mt-2">Enter recipe instructions in a numeric list format <b>(e.g. 1. Preheat the oven...)</b></div>

                </div> 


                <div class="text-center">
                  <div class="form-btns">
                    <button type="submit" class="btn btn-transparent"><span>Save changes</span></button>
                    <!-- <button type="submit" class="btn btn-transparent" onclick="formsubmit()"><span>Save changes</span></button> -->
                    
                  </div>
                </div>


              </form>

              <div style="display: none;">
                {{form.as_p}}
                </div>
                   
            </div> 
        
          </div>

        </main>

        <aside class="sidebar sidebar-dashboard recipe-img-preview-sidebar">
                    
          <div class="sidebar-recipes">
              
            <h2>Image preview</h2>

              <!-- <div class="preview"></div> -->

              <!-- Image preview -->
              <div class="preview-container"></div>

              <div class="preview-container2"></div>
               
          </div>

        </aside>

      </div>

    </div>

  </div>

{% else %}  <!-- User is unauthenticated then redirect to login page-->


{% endif %}
</body>

<!-- tooltip -->
<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

<!-- quick view offcanvas -->
{% if all_recipes %} 
{% for post in all_recipes %}
<div class="offcanvas offcanvas-end qv-offcanvas" tabindex="-1" id="quickviewModal{{post.pk}}" aria-labelledby="quickviewModalLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="quickviewModalLabel">Yummy Recipes</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body qv-modal-body">
        <article class="article-featured">
            <!-- <h2 class="article-title">{{post.title}}</h2> -->
            <div class="qv-offcanvas-img-container">
                {% for i in post.photo_set.all %}
                    {% if forloop.counter0 == 0 %}
                        <img src="{{ i.image.url }}" class="article-image qv-offcanvas-img" alt="{{post.title}}">
                    {% endif %}
                    {% empty %}
                        <img src="{% static 'testingapp/media/empty4.jpg' %}" class="modal-rec-img">
                {% endfor %}
            </div>
            
            <div class="qv-offcanvas-title-container">
                <h3 class="article-title">{{post.title}}</h3>
                <p>
                    <ul>
                        <li><img src="{{ post.author.profile.profile_img.url }}" style="width: 30px; height: 30px; border-radius:100px" alt="Image"></li>
                        <li><div class="text-truncate">{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.get_date}} &#11825; {% get_hit_count for post %} views</li>
                    </ul>
                </p>
                <!-- <p class="article-info">
                    <ul class="qv-offcanvas-user-info">
                        <li><img src="{{ user.profile.profile_img.url }}" style="width: 30px; height: 30px; border-radius:100px" alt="Image"></li>
                        <li>{{post.author.first_name}} {{post.author.last_name}} &#11825; {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                    </ul>
                </p> -->
                
            </div>

            <div class="qv-offcanvas-table-wrapper">
                <table class="table">
                    
                    <tbody class="qv-table-body">
                    <tr>
                        <th scope="row" colspan="2">Type</th>
                        <td>{{post.type}}</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Category</th>
                        <td>{{post.category}}</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Cuisine</th>
                        <td>{{post.cuisine}}</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Prep time</th>
                        <td>{{post.timing}} min</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Servings</th>
                        <td>{{post.servings}}</td>
                    </tr>
                    <tr>
                      <th scope="row" colspan="2">Difficulty</th>
                      <td>{{post.difficulty}}</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Likes</th>
                        <td>{{post.total_likes}}</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Dislikes</th>
                        <td>{{post.total_dislikes}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            
            
            <!-- <a href="#" class="article-read-more">CONTINUE READING</a> -->
        </article>

        <div class="footer-area">
            <a href="{% url 'viewpost' post.pk %}" class="qv-offcanvas-footer-link">View <span class="material-symbols-rounded qv-offcanvas-link-icon">trending_flat</span></a>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}


<script>
  function validateForm() {
    // Get the form element
    const form = document.getElementById('myForm');
  
    // Iterate through each input element in the form
    for (const input of form.elements) {
      // Check if the input is required and its value is empty
      if (input.required && input.value.trim() === '') {
        // Alert the user and prevent the form from submitting
        alert(`${input.name} is required`);
        return false;
      }
    }
  }
  </script>
  
  <script>
    function formsubmit() 
    {
      var image = document.forms["myForm"]["image"].value;
      var timing = document.forms["myForm"]["timing"].value;
      var servings = document.forms["myForm"]["servings"].value;
      var type = document.getElementById("inputGroupSelect01").value;
      var cuisine = document.forms["myForm"]["cuisine"].value;
      var category = document.forms["myForm"]["category"].value;
      var title = document.forms["myForm"]["title"].value;
      var ingredients = document.forms["myForm"]["ingredients"].value;
      var content = document.forms["myForm"]["content"].value;
      if (image == "")
      {
        alert("Please choose a image")
        return false;
      }
      else if (timing == "") 
      {
        alert("Please provide preparation time");
        return false;
      }
      else if (servings == "") 
      {
        alert("Please provide number of serving");
        return false;
      }
      else if (type == "") 
      {
        alert("Please select type from list");
        return false;
      }
      else if (cuisine == "") 
      {
        alert("Please select cuisine");
        return false;
      }
      else if (category == "") 
      {
        alert("Please select category");
        return false;
      }
      else if (difficulty == "") 
      {
        alert("Please select difficulty");
        return false;
      }
      else if (title == "") 
      {
        alert("Title field cannot be empty");
        return false;
      }
      else if (ingredients == "")
      {
        alert("Ingredient field cannot be empty");
        return false;
      }
      else if (content == "")
      {
        alert("Recipe field cannot be empty");
        return false;
      }  
      alert("Your recipe has been posted suceesfully 😊");
      // location.href = "{% url 'home' %}";
    }
  
    // Form reset
    function myFunction() {
  document.getElementById("output").reset();
  }
  
  </script>
  
  <!-- image preview with name of the file below image button on small screen id=id_form-0-image-->
  <script>
    // Get the file input element
    const imagesInputs = document.getElementById('id_form-0-image');

    // Get the preview container element
    const previewContainers = document.querySelector('.new-container');
  
    // Listen for file input change event
    imagesInputs.addEventListener('change', () => {
      // Remove existing previews
      previewContainers.innerHTML = '';
  
      // Loop through selected files
      for (const file of imagesInputs.files) {
        // Create a FileReader object to read file data
        const reader = new FileReader();
  
        // Listen for FileReader load event
        reader.addEventListener('load', () => {
          // Create an image element to display preview
          const image = document.createElement('img');
          image.classList.add('new-preview-image');
          image.src = reader.result;
  
          // Create a name element to display file name
          const name = document.createElement('div');
          name.classList.add('new-preview-name');
          name.textContent = file.name;
  
          // Create a preview container element to hold image and name
          const preview = document.createElement('div');
          preview.appendChild(image);
          preview.appendChild(name);
  
          // Add preview to preview container
          previewContainers.appendChild(preview);
        });
  
        // Read file data as URL
        reader.readAsDataURL(file);
      }
    });
  </script>
  

  <!-- image preview with name of the file below image button on small screen id=id_form-1-image-->
  <script>
    // Get the file input element
    const imagesInputs1 = document.getElementById('id_form-1-image');

    // Get the preview container element
    const previewContainers1 = document.querySelector('.new-container2');
  
    // Listen for file input change event
    imagesInputs1.addEventListener('change', () => {
      // Remove existing previews
      previewContainers1.innerHTML = '';
  
      // Loop through selected files
      for (const file of imagesInputs1.files) {
        // Create a FileReader object to read file data
        const reader = new FileReader();
  
        // Listen for FileReader load event
        reader.addEventListener('load', () => {
          // Create an image element to display preview
          const image = document.createElement('img');
          image.classList.add('new-preview-image');
          image.src = reader.result;
  
          // Create a name element to display file name
          const name = document.createElement('div');
          name.classList.add('new-preview-name');
          name.textContent = file.name;
  
          // Create a preview container element to hold image and name
          const preview = document.createElement('div');
          preview.appendChild(image);
          preview.appendChild(name);
  
          // Add preview to preview container
          previewContainers1.appendChild(preview);
        });
  
        // Read file data as URL
        reader.readAsDataURL(file);
      }
    });
  </script>

  
  
  <!-- image preview with name of the file for id=id_form-0-image -->
  <script>
    // Get the file input element
    const imagesInput = document.getElementById('id_form-0-image');
    // Get the preview container element
    const previewContainer = document.querySelector('.preview-container');
  
    const imgcounter = document.getElementById('counter');
  
    // Get the file input element
    const ttimagesInput = document.getElementById('id_form-0-image');
    // Get the preview container element
    const ttpreviewContainer = document.querySelector('.preview-counter');
    
    // Listen for file input change event
    imagesInput.addEventListener('change', () => {
      // Remove existing previews
      previewContainer.innerHTML = '';
  
      // Loop through selected files
      for (const file of imagesInput.files) {
        // Create a FileReader object to read file data
        const reader = new FileReader();
  
        // Listen for FileReader load event
        reader.addEventListener('load', () => {
          // Create an image element to display preview
          const image = document.createElement('img');
          image.classList.add('preview-image');
          image.src = reader.result;
  
          // Create a name element to display file name
          const name = document.createElement('div');
          name.classList.add('preview-name');
          name.textContent = file.name;
  
          // Create a preview container element to hold image and name
          const preview = document.createElement('div');
          preview.appendChild(image);
          preview.appendChild(name);
  
          // Add preview to preview container
          previewContainer.appendChild(preview);
          // Increment the counter and update the counter element
          counterValue++;
          imgcounter.textContent = counterValue;
        });
  
        // Read file data as URL
        reader.readAsDataURL(file);
      }
    });
  
    // Listen for file input change event
    ttimagesInput.addEventListener('change', () => {
      // Remove existing previews
      ttpreviewContainer.innerHTML = '';
  
      // Get the number of selected files
      const numFiles = ttimagesInput.files.length;
  
      // Display the appropriate message based on the number of selected files
      if (numFiles === 1) {
        // Create a counter element to display number of files
        const counter = document.createElement('span');
        counter.classList.add('preview-counter');
        counter.textContent = `${numFiles} file selected`;
  
        // Add counter to preview container
        ttpreviewContainer.appendChild(counter);
      } else {
        // Create a counter element to display number of files
        const counter = document.createElement('span');
        counter.classList.add('preview-counter');
        counter.textContent = `${numFiles} files selected`;
  
        // Add counter to preview container
        ttpreviewContainer.appendChild(counter);
      }
    });
  </script>

  <!-- image preview with name of the file for id=id_form-1-image -->
  <script>
    // Get the file input element
    const imagesInput1 = document.getElementById('id_form-1-image');
    // Get the preview container element
    const previewContainer1 = document.querySelector('.preview-container2');
  
    const imgcounter1 = document.getElementById('counter');
  
    // Get the file input element
    const ttimagesInput1 = document.getElementById('id_form-1-image');
    // Get the preview container element
    const ttpreviewContainer1 = document.querySelector('.preview-counter2');
    
    // Listen for file input change event
    imagesInput1.addEventListener('change', () => {
      // Remove existing previews
      previewContainer1.innerHTML = '';
  
      // Loop through selected files
      for (const file of imagesInput1.files) {
        // Create a FileReader object to read file data
        const reader = new FileReader();
  
        // Listen for FileReader load event
        reader.addEventListener('load', () => {
          // Create an image element to display preview
          const image = document.createElement('img');
          image.classList.add('preview-image');
          image.src = reader.result;
  
          // Create a name element to display file name
          const name = document.createElement('div');
          name.classList.add('preview-name');
          name.textContent = file.name;
  
          // Create a preview container element to hold image and name
          const preview = document.createElement('div');
          preview.appendChild(image);
          preview.appendChild(name);
  
          // Add preview to preview container
          previewContainer1.appendChild(preview);
          // Increment the counter and update the counter element
          counterValue++;
          imgcounter1.textContent = counterValue;
        });
  
        // Read file data as URL
        reader.readAsDataURL(file);
      }
    });
  
    // Listen for file input change event
    ttimagesInput1.addEventListener('change', () => {
      // Remove existing previews
      ttpreviewContainer1.innerHTML = '';
  
      // Get the number of selected files
      const numFiles = ttimagesInput1.files.length;
  
      // Display the appropriate message based on the number of selected files
      if (numFiles === 1) {
        // Create a counter element to display number of files
        const counter = document.createElement('span');
        counter.classList.add('preview-counter2');
        counter.textContent = `${numFiles} file selected`;
  
        // Add counter to preview container
        ttpreviewContainer1.appendChild(counter);
      } else {
        // Create a counter element to display number of files
        const counter = document.createElement('span');
        counter.classList.add('preview-counter2');
        counter.textContent = `${numFiles} files selected`;
  
        // Add counter to preview container
        ttpreviewContainer1.appendChild(counter);
      }
    });
  </script>
  
  
  <!-- increasing the counter inside textarea by pressing enter -->
  <script>
    const textarea = document.getElementById('inputRecipe');
    let counter = 2; // Initialize the counter to 2
    let lastCounter = 1; // Initialize the last counter to 1
    textarea.addEventListener('keydown', function(event) {
      if (event.key === 'Enter') {
        event.preventDefault();
        const value = this.value;
        const selectionStart = this.selectionStart;
        const selectionEnd = this.selectionEnd;
        const beforeCursor = value.substring(0, selectionStart);
        const afterCursor = value.substring(selectionEnd);
        const newLine = `\n${counter}. `;
        this.value = beforeCursor + newLine + afterCursor;
        this.selectionStart = selectionEnd + newLine.length;
        this.selectionEnd = selectionEnd + newLine.length;
        lastCounter = counter; // Update the last counter to the current counter
        counter++;
      }
    });
  
    textarea.addEventListener('keyup', function(event) {
      if (event.key === 'Backspace') {
        const value = this.value;
        const cursorPosition = this.selectionStart;
        const lastCounterIndex = value.lastIndexOf('\n', cursorPosition - 2);
        const lastCounterValue = parseInt(value.substring(lastCounterIndex + 1, cursorPosition - 2));
        if (!isNaN(lastCounterValue)) {
          lastCounter = lastCounterValue; // Update the last counter to the previous counter
          counter = lastCounter + 1; // Reset the current counter to the next number after the previous counter
        }
      }
    });
  </script>
  
  <!-- same above counter for ingredients -->
  <script>
    const ingredientstextarea = document.getElementById('inputIngredients');
    let newcounter = 2; // Initialize the counter to 2
    let prevcounter = 1; // Initialize the last counter to 1
    ingredientstextarea.addEventListener('keydown', function(event) {
      if (event.key === 'Enter') {
        event.preventDefault();
        const value = this.value;
        const selectionStart = this.selectionStart;
        const selectionEnd = this.selectionEnd;
        const beforeCursor = value.substring(0, selectionStart);
        const afterCursor = value.substring(selectionEnd);
        const newLine = `\n${newcounter}. `;
        this.value = beforeCursor + newLine + afterCursor;
        this.selectionStart = selectionEnd + newLine.length;
        this.selectionEnd = selectionEnd + newLine.length;
        lastCounter = newcounter; // Update the last counter to the current counter
        newcounter++;
      }
    });
  
    ingredientstextarea.addEventListener('keyup', function(event) {
      if (event.key === 'Backspace') {
        const value = this.value;
        const cursorPosition = this.selectionStart;
        const lastCounterIndex = value.lastIndexOf('\n', cursorPosition - 2);
        const lastCounterValue = parseInt(value.substring(lastCounterIndex + 1, cursorPosition - 2));
        if (!isNaN(lastCounterValue)) {
          prevcounter = lastCounterValue; // Update the last counter to the previous counter
          newcounter = prevcounter + 1; // Reset the current counter to the next number after the previous counter
        }
      }
    });
  </script>

{% endblock %}